extend layout
block content 
  div=err
  if !session.user
    nav
      div(class="nav-wrapper #455a64 blue-grey darken-2")
        a(href="#" class="brand-logo")
          i(class="material-icons prefix large") library_music
        ul(id="nav-mobile" class="right hide-on-med-and-down")
          li
            a(class="waves-effect waves-light btn modal-trigger" data-target="modal1") signin
            div(id="modal1" class="modal")
              div(class="modal-content")
                //div=err
                form(method='POST' action='users/signin')
                  div(class="input-field")
                      input(id="email" type='email' name='email' require value=email?email:'')
                      label(for="email" style="font-size:1rem") Email
                  
                  div(class="input-field")
                      input(id="pass" type='password' name='password')
                      label(for="pass" style="font-size:1rem") Password
                  br
                  input(type='submit' value='Entrar') 
          li
            a(class="waves-effect waves-light btn modal-trigger" data-target="modal2") signup
            div(id="modal2" class="modal")
              div(class="modal-content")
                form(method='POST' action='users/signup')
                  div(class="input-field")
                    input(id="username" type='text' name='username')
                    label(for="username" style="font-size:1rem") Username

                  div(class="input-field")
                    input(id="email1" type='email' name='email' require value=email?email:'')
                    label(for="email1" style="font-size:1rem") Email
                
                  div(class="input-field")
                      input(id="pass1" type='password' name='password')
                      label(for="pass1" style="font-size:1rem") Password

                  div(class="input-field")
                      input(id="pregunta" type='text' name='pregunta')
                      label(for="pregunta" style="font-size:1rem") Pregunta

                  div(class="input-field")
                      input(id="respuesta" type='text' name='respuesta')
                      label(for="respuesta" style="font-size:1rem") Respuesta
                  br
                  input(type='submit' value='Registrar')
    
    .carousel.carousel-slider.center(style='height: 400px;')
      .carousel-item
        img(src="/images/evolve.jpg" style="width=100%" height="100%")
      .carousel-item
        img(src="/images/blink.jpg" style="width=100%" height="100%")
      .carousel-item        
        img(src="/images/panic.jpg" style="width=100%" height="100%")
      .carousel-item        
        img(src="/images/kda.jpg" style="width=100%" height="100%")
      .carousel-item        
        img(src="/images/kda.jpg" style="width=100%" height="100%")
      ul.indicators
        li.indicator-item
        li.indicator-item
        li.indicator-item
        li.indicator-item
        li.indicator-item
    footer(class="page-footer #455a64 blue-grey darken-2")
      .container
        .row
          .col.l6.s12
            h5.white-text Footer Content
            p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
          .col.l4.offset-l2.s12
            h5.white-text Links
            ul
              li
                a.grey-text.text-lighten-3(href='#!') Link 1
              li
                a.grey-text.text-lighten-3(href='#!') Link 2
              li
                a.grey-text.text-lighten-3(href='#!') Link 3
              li
                a.grey-text.text-lighten-3(href='#!') Link 4
      .footer-copyright
        .container
          | © 2014 Copyright Text
          a.grey-text.text-lighten-4.right(href='#!') More Links
      
        

  else
    block contenido
      main
        nav
          .nav-wrapper.teal.darken-1(class='#00897b')
            a.navbar_color(style='margin-left: 1em; font-size: 1.5em')
              i.fas.fa-crow
              | Goth music
            ul#nav-mobile.right.hide-on-med-and-down
              li.input-field
                div
                  form
                    div
                      input#search(type='search', placeholder='Search..', required='')
                      label.label-icon(for='search')
                        i.material-icons
              li
                a.navbar_color(href='#')
                  i.fas.fa-globe-americas
              li
                a(class ="navbar_color" onClick="mostrar0()")
                  i.fab.fa-forumbee
              li
                a.navbar_color(href='')
                  i.fas.fa-music
              li
                a.navbar_color(href='users/logout') Log out
      ul#slide-out.sidenav.sidenav-fixed.teal.lighten-5(class='#e0f2f1', style='margin-top: 66px; height: 100%;')
        .perfill
          div(style='border-right: solid 1px #00897b; padding-right: 1.5em;')
            img.circle(src='/images/pf.png', alt='', style='height: 90px; width: 90px')
          div(style='display: flex; flex-direction:column; flex-wrap:wrap')
            div
              p(style='margin: 0.43em; color: #004d40; font-size: 1.5em') #{JSON.parse(session.user).username}
            div
              p(style='margin: 1em; color: #004d40; font-size: 0.7em') #{JSON.parse(session.user).email}
        li
          a(href='/playlist', style='border-bottom: solid 1px #00897b; border-top: solid 1px #00897b') Playlists
        li
          a(href='/foro', style='border-bottom: solid 1px #00897b') Forums
        li
          a(href='/profile') Configuracion
      .cards
        .col.s12.m7
          .card.teal.lighten-5(class='#e0f2f1')
            .card-content
              p JAVI SE LA COME
            .card-action(style='border-top: solid 1px #00897b')
              a(href='#') DOBLADA AL ESPANIOL
          .card.teal.lighten-5(class='#e0f2f1')
            .card-content
              p JAVI SE LA COME
            .card-action
              a(href='#') DOBLADA AL ESPANIOL
          .card.teal.lighten-5(class='#e0f2f1')
            .card-content
              p JAVI SE LA COME
            .card-action
              a(href='#') DOBLADA AL ESPANIOL
      section#sec1(action="/api/post", method="GET")
        ul.pagination(style='position: absolute; left: 25%; bottom: 0')
          li.disabled
            a(href='#!')
              i.material-icons chevron_left
          li.active
            a(href='#!' onClick='mostrar0()') 1
          li.waves-effect
            a(href='#!' onClick='mostrar1()') 2
          li.waves-effect
            a(href='#!') 3
          li.waves-effect
            a(href='#!') 4
          li.waves-effect
            a(href='#!') 5
          li.waves-effect
            a(href='#!')
              i.material-icons chevron_right